.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-body{
    text-align: center;
    padding: 70px 0;

    p{
        margin-top: 25px !important;
    }

    i{
        font-size: 4rem !important;

    }

    .success {
        color: rgb(85, 193, 85) !important;
    }
    
    .danger {
        color: rgb(235, 88, 88) !important;
    }
}